
  <div class="waiting-duration">
    <p>Wait for the exchange</p>
    <span>Exchange in progress,just wait</span>
  </div>


  <div class="exchange-details-three">
    <div class="final-details-one">
      <p>Details</p>
      <span>Status: Exchanging</span>
    </div>
    <div class="final-details-two">
      <p>You get</p>
      <span>4,600,435 ETH</span>
    </div>
    <div class="final-details-three">
      <p>To address</p>
      <span>hklfgj45hgdkfh3o</span>
    </div>
  </div>

  <div class="exchange-details-three-final">
    <div class="final-details-one-final">
      <p>Stay in touch</p>
    </div>
    <div class="final-details-two-final">
      <p>Email</p>
      <input type="email" placeholder='Enter your email'>
      <span></span>
    </div>
    <div class="final-details-three-final">
      <button class="confirm"> Confirm</button>
      <span>We will notify you, when the swap is done</span>
    </div>
  </div>

